$primary: #069;
$body-bg: $primary;
$secondary: #fff;
$body-color: $secondary;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "twitter": #38A1F3,
  "facebook": #3b5998,
  "github": #333,
  "linkedin": #0077B5
);
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$headings-font-family: 'Orbitron', $font-family-sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Orbitron:900');

.blockquote-footer {
  color: gray("700");
}

.nav-link { 
  color: white
 }
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}