$body-color: #fff;
$body-bg: #066e8a;
$theme-colors: (
  "primary": #066e8a
);
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$headings-font-family: 'Orbitron', $font-family-sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Orbitron:900');

.blockquote-footer {
  color: gray("300");
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}