$primary: #069;
$body-bg: $primary;
$secondary: #fff;
$body-color: $secondary;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "twitter": #38A1F3,
  "facebook": #3b5998,
  "github": #333,
  "linkedin": #0077B5,
  "monzo": rgb(225, 77, 97)
);
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$headings-font-family: 'Exo', $font-family-sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Exo:900|PT+Sans&display=swap");

.blockquote-footer {
  color: gray("700");
}

.nav-link { 
  color: white
 }
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: darken($color: $primary, $amount: 5%) var(--dark);
}
body::-webkit-scrollbar-track {
  background: darken($color: $primary, $amount: 5%);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 2.5em;
  border: 3px solid darken($color: $primary, $amount: 5%);
}

.portfolio-menu-item {
  transition: 0.2s background-color;
  &:hover, .selected {
    background-color: darken($color: $primary, $amount: 5%) !important;
    cursor: pointer;
  }
}

.tab-pane.active {
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}